<div class="pull-right visible-lg">
  <!-- <button ui-sref="index.main.configuration" class="btn btn-primary "> Configuración </button> -->
  <button ui-sref="index.main.profilelist" class="btn btn-primary "> Lista de Perfiles </button>
  <button ui-sref="index.main.query" class="btn btn-primary "> Consulta </button>
  <!-- <button ui-sref="index.main.payments" class="btn btn-primary "> Pagos realizados </button>
  <button ui-sref="index.main.pendingpayments" class="btn btn-primary "> Pagos pendientes </button>
  <button ui-sref="index.main.lastclosures" class="btn btn-primary "> Últimos cierres </button> -->
</div>
<div class="hidden-lg">
  <div class="btn-group dropdown pull-right" uib-dropdown>
    <button class="btn btn-primary dropdown-toggle" uib-dropdown-toggle>
      <span class="fa fa-bars"></span>
    </button>
    <ul role="menu" uib-dropdown-menu class="dropdown-menu animated fadeIn">
      <ul>
        <a ui-sref="index.main.profilelist" class="dropdown-item ">Lista de perfiles</a>
      </ul>
      <ul>
        <a ui-sref="index.main.query" class="dropdown-item active">Consulta</a>
      </ul>
      <!-- <ul>
        <a ui-sref="index.main.payments" class="dropdown-item">Pagos realizados</a>
      </ul>
      <ul>
        <a ui-sref="index.main.pendingpayments" class="dropdown-item">Pagos pendientes</a>
      </ul>
      <ul>
        <a ui-sref="index.main.lastclosures" class="dropdown-item">Ultimos cierres</a>
      </ul>
    </ul> -->
  </div>
</div>
<!--/Dropdown primary-->

