<nav class="navbar-default navbar-static-side" role="navigation">
  <div class="sidebar-collapse">
    <ul side-navigation class="nav metismenu" id="side-menu">
      <li class="nav-header">
        <!-- <div class="profile-element" uib-dropdown>
          <a uib-dropdown-toggle="" href>
            <span class="clear">
              <span class="block m-t-xs">
                <strong class="font-bold">{{main.userName}}</strong>
              </span>
              <span class="text-muted text-xs block">Example menu<b class="caret"></b></span>
            </span>
          </a>
          <ul uib-dropdown-menu class="animated flipInX m-t-xs">
            <li><a href="">Logout</a></li>
          </ul>
        </div> -->
        <div class="logo-element bg-primary">
          FPW
        </div>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="index.main"><i class="fa fa-info"></i> <span class="nav-label">Información</span> </a>
      </li>
    </ul>
  </div>
</nav>
