<div class="row hidden-xs">
  <div class="col-md-3 col-sm-4" ng-repeat="terminal in vm.terminals" ng-click="vm.updateSelected(terminal)">
    <div class="row" style="cursor: pointer" ng-class="terminal.selected ? 'bg-light':''">
      <div class="view zoom">
          <!-- <div class="m-t-lg">
            <span class="fa fa-check text-primary" ng-if="terminal.selected"></span>
          </div>   -->
        <div class="col-md-4 col-sm-6 p-md">
          <img ng-src="../../../assets/images/pos/{{terminal.model || 'D200'}}.png" class="hoverable pull-right">
        </div>
        <div class="col-md-7 col-sm-5 p-md">
          <h3>{{terminal.afiliado}}</h3>
          <h3>{{terminal.serial}}</h3>
        </div>      
      </div>
    </div>
  </div>
</div>
<div class="row visible-xs">
  <div class="col-xs-6 text-center" ng-repeat="terminal in vm.terminals" ng-click="vm.updateSelected(terminal)">
    <div class="row" style="cursor: pointer">
      <div class="col-xs-8">
        <h3>{{terminal.serial}}</h3>
      </div>
      <div class="col-xs-1">
        <span class="fa fa-check text-primary" ng-if="terminal.selected"></span>
      </div>
    </div>
  </div>
</div>