<div class="ibox float-e-margins">
  <div class="ibox-title">    
    <div class="row">
      <div class="col-md-3">
        <h1>Ultimos cierres</h1>
      </div>
      <div class="col-md-9 m-t-sm">
        <div class="pull-right">
          <label> Busqueda </label>
          <input class="" type="text" ng-model="filter.$">
        </div>
      </div>
    </div>    
  </div>
  <div class="ibox-content">  
    <div class="row">
      <h1>Contenido</h1>
    </div>
  </div>
</div>
