<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-xs-3">
    <h2>Visualizador</h2>{{vm.breadCrumb}}
  </div>
  <div class="col-xs-9 col-xs-12 m-t-md">
    <main-tab class="pull-right"></main-tab>
  </div>
</div>

<div class="wrapper wrapper-content">
  <div class="row">
    <div class="col-md-12 p-w-sm">
      <ui-view></ui-view> 
    </div>
  </div>
</div>
