<div class="row">
  <div class="col-xs-12 col-sm-6">
    <div class="text-title m-t-md">
      <h1>Selección de afiliado</h1>
    </div>
  </div>
  <div class="col-xs-12 col-sm-6">
    <form class="form-inline">
      <!-- <div class="form-group">
        <label class="col-md-12 text-left"> Nombre del afiliado: </label>
        <div class="col-md-12">
          <input class="form-control" type="text" ng-model="vm.afiliado.nombre">
        </div>
      </div> -->
      <div class="form-group">
        <label class="text-left"> Número del afiliado: </label>
        <div class="col-md-12 input-group">
          <input class="form-control" type="text" ng-model="vm.afiliado.number">
          <span class="input-group-btn">
            <button class="btn btn-primary waves-effect" style="margin: 0;" type="button" ng-click="vm.action()" ng-disabled="!vm.afiliado.number"> Buscar </button>
          </span>
        </div>
      </div>
      <div class="form-group pull-right">
        <div class="col-md-12 m-t-md">
        </div>
      </div>
    </form>
  </div>
</div>