<div class="ibox float-e-margins animated fadeIn">
  <div class="ibox-title">
    <div class="row">
      <div class="col-md-3">
        <h1 class="p-h-sm">Lista de perfiles</h1>
      </div>
      <div class="col-md-3 pull-right">
        <button class="btn btn-danger btn-lg pull-right text-center  m-t-sm" ng-click="vm.deleteProfiles()"><span class="fa fa-times"></span> Eliminar</button>
        <button class="btn btn-primary btn-lg pull-right text-center  m-t-sm" ui-sref="index.main.configuration"><span class="fa fa-plus"></span> Nuevo</button>
      </div>
    </div>
  </div>
  <div class="ibox-content animated fadeIn">
    <div class="sk-spinner sk-spinner-chasing-dots" style="display: block" ng-if="vm.loading">
      <div class="sk-dot1"></div>
      <div class="sk-dot2"></div>
    </div>
    <div class="table-responsive"  ng-if="vm.profiles">
      <table class="table table-striped">
        <thead>
          <tr>
            <th class="h4 text-center">Nombre</th>
            <th class="h4 text-center">Fecha de creación</th>
            <th class="h4 text-center">Numero de terminales</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="profile in vm.profiles" ng-click="vm.selectProfile(profile)">
            <td class="text-center h5" style="vertical-align: middle">{{profile.name}}</td>
            <td class="text-center h5" style="vertical-align: middle">{{profile.created | date:'dd/mm/yy'}}</td>
            <td class="text-center h5" style="vertical-align: middle">{{profile.terminals.length}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
  