<div class="ibox float-e-margins animated fadeIn">
  <div class="ibox-title">
    <div class="row">
      <div class="col-md-12 text-left">
        <h1>Consulta de cierres por terminal: {{vm.terminal.serial}}</h1>
        <a class="h4" ng-click="vm.backToQuery()">< Volver</a>
      </div>
    </div>
    </div>
    <div class="ibox-content">
      <div class="sk-spinner sk-spinner-chasing-dots" style="display: block" ng-if="vm.loading">
        <div class="sk-dot1"></div>
        <div class="sk-dot2"></div>
      </div>
      <div class="table-responsive" ng-if="vm.lotes.length">
        <table class="table table-striped">
          <thead>
            <th class="h4 text-center"> Lote </th>
            <th class="h4 text-center"> Fecha </th>
            <th class="h4 text-center"> Monto total </th>
            <th class="h4 text-center"> % Admin </th>
            <th class="h4 text-center"> % User </th>
            <th class="h4 text-center"> Acciones </th>
          </thead>
          <tbody>
            <tr ng-repeat="lote in vm.lotes | orderBy:'-lote'">
              <td class="text-center h5"> {{lote.lote}} </td>
              <td class="text-center h5"> {{lote.fecha | date:'dd/MM/yy'}} </td>
              <td class="text-center h5"> {{lote.monto_total | currency:"BsF "}} </td>
              <td class="text-center h5"> {{lote.pAdmin | currency:"BsF "}} </td>
              <td class="text-center h5"> {{lote.pUser | currency:"BsF "}} </td>
              <td class="text-center h5">
                <span class="fa fa-search"></span>&nbsp;
                <span class="fa fa-money"></span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
</div>