<div class="ibox float-e-margins animated fadeIn">
  <div class="ibox-title">
    <div class="row">
      <div class="col-md-12 text-left">
        <h1>Consulta por terminales </h1>
        <h3>{{vm.profile.name ? ('Perfil ' + vm.profile.name) : ''}}</h3>
      </div>
    </div>
  </div>
  <div class="ibox-content">
    <div class="sk-spinner sk-spinner-chasing-dots" style="display: block" ng-if="vm.loading">
      <div class="sk-dot1"></div>
      <div class="sk-dot2"></div>
    </div>
    <!-- SELECCION DE TERMINAL -->
    <div class="table-responsive">
      <table class="table table-striped" ng-if="vm.profile">
        <thead>
          <tr>
            <th class="h4 text-center">Afiliado</th>
            <th class="h4 text-center">Serial</th>
            <th class="h4 text-center">Terminals</th>  
            <th class="h4 text-center">% administrativo</th>  
            <th class="h4 text-center">% usuario</th>  
            <th class="h4 text-center">Acciones</th>  
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="terminal in vm.profile.terminals">
            <td class="text-center h5" style="vertical-align: middle">{{terminal.afiliado}}</td>
            <td class="text-center h5" style="vertical-align: middle">{{terminal.serial}}</td>
            <td class="text-center h5" style="vertical-align: middle">{{terminal.terminals}}</td>
            <td class="h5" style="vertical-align: middle"><input class="form-control" style="width: 50%; margin: auto" type="number" min="0" max="{{100-terminal.userPercent}}" ng-model="terminal.adminPercent"></td>
            <td class="h5" style="vertical-align: middle"><input class="form-control" style="width: 50%; margin: auto" type="number" min="0" max="{{100-terminal.adminPercent}}" ng-model="terminal.userPercent"></td>
            <td class="text-center h5" style="vertical-align: middle"><span class="fa fa-search" style="cursor: pointer" ng-click="vm.selectTerminal(terminal)"></span></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
  