<div class="ibox float-e-margins animated fadeIn">
  <div class="ibox-title">
    <div class="row">
      <div class="col-md-3">
        <h1 class="p-h-sm">Nuevo perfil: </h1>
      </div>
      <div class="md-form col-md-4">
        <input type="text" class="form-control pull-left" ng-model="vm.profile.name" placeholder="Nombre del perfil">
      </div>
      <div class="col-md-3 pull-right">
        <h3 class="p-h-md ">Terminales agregados: {{vm.selectedTerminals.length}}</h3>
      </div>
    </div>
  </div>
  <div class="ibox-content">
    <!-- SELECCION DE AFILIADO -->
    <afiliate-selector onupdate="vm.updateQuery(p)" action="vm.getAfiliateTerminals"></afiliate-selector>
    <!-- SELECCION DE EQUIPOS POS -->
    <div class="row m-t-lg" ng-if="vm.afiliado && vm.terminals && vm.terminals.length">
      <div class="col-md-12 animated fadeIn">
        <h1>Seleccione los equipos que desea agregar.</h1>
        <terminal-list terminals="vm.terminals"></terminal-list>
      </div>
    </div>
    <div class="row" ng-if="vm.terminals">
      <div class="col-md-12 m-t-lg">
        <button class="btn btn-primary pull-right" ng-click="vm.saveChanges()" ng-disabled="!vm.canSave() || !vm.selectedTerminals.length"> Crear perfil </button>
        <button class="btn btn-primary pull-right" ng-click="vm.addTerminals()" ng-disabled="!vm.terminals.length"> Agregar Terminales </button>
      </div>
    </div>
  </div>
</div>
<!-- 0212 409 23 81 -->